body {
  font-family: 'open-sans', sans-serif;
  width: 100%;
}

h1 {
  font-size: 2.1875rem;
  line-height: 1.17;

  @media(--sm) {
    font-size: 3.75rem;
  }

  @media(--md) {
    font-size: 4.05rem;
  }

  @media(--lg) {
    font-size: 4.4rem;
  }

}

h2 {
  font-size: 1.185rem;
  line-height: 1.17;

  @media(--sm) {
    font-size: 2.1875rem;
  }
}

h3 {
  font-size: 1.125rem;
  line-height: 1.17;

  @media(--sm) {
    font-size: 1.3125rem;
  }

  @media(--md) {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.08rem;
  line-height: 1.17;

  @media(--sm) {
    font-size: 1.26rem;
  }

  @media(--md) {
    font-size: 1.35rem;
  }
}

button {
  font-size: 0.6875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background: transparent;

  @media(--md) {
    font-size: 0.8125rem;
  }

  @media(--lg) {
    font-size: 0.875rem;
  }

  &:hover {
    cursor: pointer;
  }
}

p {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1.08;

  @media(--sm) {
    font-size: 0.9375rem;
  }

  @media(--md) {
    font-size: 1rem;
  }
}

small {
  font-size: 0.75rem;

  @media(--sm) {
    font-size: 0.8125rem;
  }
}
