.hero {
  overflow: hidden;
  position: relative;
  background-color: var(--gold);

  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index: 0;

    @media (--md) {
      flex-direction: row;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.3),#000);
    }

    &--content {
      flex: 1;
      padding: 3rem 0.45rem 1rem;
      z-index: 1;

      @media (--sm) {
        padding: 3rem 2rem 1rem;
      }

      @media (--md) {
        text-align: left;
        flex: 5;
        padding: 8rem 2rem 14rem;
      }

      @media (--lg) {
        flex: 5;
        padding: 15rem 15rem 30rem;
      }

      h1 {
        margin-bottom: 0.5em;
      }
    }

    &--image {
      flex: 1;
      display: flex;
      flex-shrink: 0;
      width: auto;
      height: 25rem;
      min-height: 25rem;
      width: 75%;
      margin: 0 auto;
      padding: 0 0.45rem;
      z-index: 1;

      @media (--sm) {
        width: 60%;
      }

      @media (--md) {
        flex: 4;
        padding: 6rem 2rem 0;
        height: 40rem;
      }

      @media (--lg) {
        padding: 6rem 10rem 0;
        height: 50rem;
      }

      & span {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        filter: contrast(100%);
        transition: 4.5s;
        margin: 0 auto;
      }
    }
  }

  & .two-up {
    margin-top: -3rem;
    z-index: 1;

    @media (--md) {
      margin-top: -6rem;
      padding: 0 3.69rem;
    }

    @media (--lg) {
      margin-top: -15rem;
    }

  }

}
